---
import GithubIcon from "../icons/Github.astro";
import LinkIcon from "../icons/Link.astro";
import Link from "./Link.astro";
import Pills from "./Pills.astro";

import { Image } from "astro:assets";

import JotterImage from "../projects/jotter-note.webp";
import MyExcelImage from "../projects/my-excel-js.webp";
import Elegat2048 from "../projects/elegant-2048.webp";
import MyAsteroidImage from "../projects/my-asteroid.webp";
import COOPACSMUSUImage from "../projects/COOPACSMUSU.webp";
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface project {
  title: string;
  description: string;
  link?: string;
  github: string;
  tags: Array<string>;
  image: ImageMetadata;
}

const PROJECTS: Array<project> = [
  {
    title: "Jotter",
    link: "https://jotternotes.vercel.app/",
    github: "https://github.com/jot-it/jotter",
    description: `${i18n.PROJECTS.JOTTER.DESCRIPTION}`,
    image: JotterImage,
    tags: ["NextJs", "TypeScript", "Yjs", "Lexical"],
  },
  {
    title: "My Excel Js",
    link: "https://my-excel-js-luis-nivar.vercel.app",
    github: "https://github.com/LuisNivar/my-excel-js",
    description: `${i18n.PROJECTS.MYEXCEL.DESCRIPTION}`,
    image: MyExcelImage,
    tags: ["HTML", "CSS", "JavaScript"],
  },
  {
    title: "Elegant 2048",
    link: "https://luisnivar.github.io/my2048/",
    github: "https://github.com/LuisNivar/my2048",
    description: `${i18n.PROJECTS.ELEGANT2048.DESCRIPTION}`,
    image: Elegat2048,
    tags: ["React", "TypeScript", "Css"],
  },
  {
    title: "My Asteroid",
    link: "https://my-asteroid-luis-nivar.vercel.app/",
    github: "https://github.com/LuisNivar/my-asteroid",
    description: `${i18n.PROJECTS.MYASTEROID.DESCRIPTION}`,
    image: MyAsteroidImage,
    tags: ["P5Js", "HTML", "Css"],
  },
  {
    title: "COOPACSMUSU",
    github: "https://github.com/LuisNivar/COOPACSMUSU",
    description: `${i18n.PROJECTS.COOPACSMUSU.DESCRIPTION}`,
    image: COOPACSMUSUImage,
    tags: [".Net Framework", "C#", "SQL Server"],
  },
];
---

<div class="flex gap-20 items-center flex-col">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class="flex gap-8 items-start flex-col sm:flex-row">
        <div class="w-full sm:w-2/5 inline-block overflow-hidden rounded-xl border transition-colors border-slate-600 hover:border-slate-400">
          <Image
            class="hover:scale-110 duration-300 transition-transform"
            src={image}
            alt="Project print screen"
          />
        </div>

        <div class="w-full min-h-full sm:w-3/5 flex flex-col justify-between gap-2">
          <header class="flex flex-col gap-2">
            <h3 class="text-2xl sm:text-3xl font-semibold">{title}</h3>
            <ul class="flex items-center gap-1">
              {tags.map((tag) => (
                <li>
                  <Pills>{tag}</Pills>
                </li>
              ))}
            </ul>
          </header>

          <p class="text-slate-400 text-pretty">{description}</p>

          <ul class="flex gap-2 items-center">
            <Link href={github}>
              <GithubIcon class="size-4" />
              Code
            </Link>
            {link && (
              <Link href={link}>
                <LinkIcon class="size-4" />
                Demo
              </Link>
            )}
          </ul>
        </div>
      </article>
    ))
  }
</div>
