---
import GithubIcon from "../icons/Github.astro";
import LinkIcon from "../icons/Link.astro";
import Link from "./Link.astro";
import Pills from "./Pills.astro";

import { Image } from "astro:assets";

import JotterImage from "../projects/jotter-note.webp";
import MyExcelImage from "../projects/my-excel-js.webp";
import Elegat2048 from "../projects/elegant-2048.webp";
import MyAsteroidImage from "../projects/my-asteroid.webp";
import COOPACSMUSUImage from "../projects/COOPACSMUSU.webp";

interface project {
  title: string;
  description: string;
  link?: string;
  github: string;
  tags: Array<string>;
  image: ImageMetadata;
}

const PROJECTS: Array<project> = [
  {
    title: "Jotter",
    link: "https://jotternotes.vercel.app/",
    github: "https://github.com/jot-it/jotter",
    description:
      "Jotter is a collaborative text editor that focuses on simplicity and your productivity. It features a clean toolbar-free user interface that helps you keep your hands where they are more useful on the keyboard.",
    image: JotterImage,
    tags: ["NextJs", "TypeScript", "Yjs", "Lexical"],
  },
  {
    title: "My Excel Js",
    link: "https://my-excel-js-luis-nivar.vercel.app",
    github: "https://github.com/LuisNivar/my-excel-js",
    description:
      "It's a basic clone of excel made with vanilla JavaScript, Css and HTML. You can use formulas like Sum, Average, Concat, Today... also use range, math expression, copy and pastes columns, cells and rows.",
    image: MyExcelImage,
    tags: ["HTML", "CSS", "JavaScript"],
  },
  {
    title: "Elegant 2048",
    link: "https://luisnivar.github.io/my2048/",
    github: "https://github.com/LuisNivar/my2048",
    description:
      "It's a clone of the popular 2048 game built using React. It is a single-player puzzle game where the objective is to combine tiles with the same value to create a tile with the value of 2048.",
    image: Elegat2048,
    tags: ["React", "TypeScript", "Css"],
  },
  {
    title: "My Asteroid",
    link: "https://my-asteroid-luis-nivar.vercel.app/",
    github: "https://github.com/LuisNivar/my-asteroid",
    description:
      "It's a clone of the iconic arcade game Asteroids by Atari in 1979. It's a single player-game arcade game where you need to destroy astros and save yourself of collisions while you make points.",
    image: MyAsteroidImage,
    tags: ["P5Js", "HTML", "Css"],
  },
  {
    title: "COOPACSMUSU",
    github: "https://github.com/LuisNivar/COOPACSMUSU",
    description:
      "Financial management software for the COOPACMUSU cooperative.",
    image: COOPACSMUSUImage,
    tags: [".Net Framework", "C#", "SQL Server"],
  },
];
---

<div class="flex gap-20 items-center flex-col">
  {
    PROJECTS.map(({ title, description, link, github, image, tags }) => (
      <article class="flex gap-8 items-start flex-col sm:flex-row">
        <div class="w-full sm:w-2/5 inline-block overflow-hidden rounded-xl border transition-colors border-slate-600 hover:border-slate-400">
          <Image
            class="hover:scale-110 duration-300 transition-transform"
            src={image}
            alt="Project print screen"
          />
        </div>

        <div class="w-full min-h-full sm:w-3/5 flex flex-col justify-between gap-2">
          <header class="flex flex-col gap-2">
            <h3 class="text-2xl sm:text-3xl font-semibold">{title}</h3>
            <ul class="flex items-center gap-1">
              {tags.map((tag) => (
                <li>
                  <Pills>{tag}</Pills>
                </li>
              ))}
            </ul>
          </header>

          <p class="text-slate-400">{description}</p>

          <ul class="flex gap-2 items-center">
            <Link href={github}>
              <GithubIcon class="size-4" />
              Code
            </Link>
            {link && (
              <Link href={link}>
                <LinkIcon class="size-4" />
                Demo
              </Link>
            )}
          </ul>
        </div>
      </article>
    ))
  }
</div>
