---
import TimeLineItem from "./TimeLineItem.astro";
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const DEGREES = [
  {
    date: `${i18n.EDUCATION.OYM.DATE}`,
    title: `${i18n.EDUCATION.OYM.TITLE}`,
    institute: `${i18n.EDUCATION.OYM.INSTITUTE}`,
    description: `${i18n.EDUCATION.OYM.DESCRIPTION}`,
  },
  {
    date: `${i18n.EDUCATION.IPL.DATE}`,
    title: `${i18n.EDUCATION.IPL.TITLE}`,
    institute: `${i18n.EDUCATION.IPL.INSTITUTE}`,
    description: `${i18n.EDUCATION.IPL.DESCRIPTION}`,
  },
];
---

<ol class="relative border-s border-slate-100/10 ml-5">
  {
    DEGREES.map((degree) => (
      <li class="mb-10 ms-4">
        <TimeLineItem {...degree} />
      </li>
    ))
  }
</ol>
